*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo img{
    width: 140px;
    height: auto;
}

 nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}


ul li a{
    text-decoration: none;
    color: #555454;
    font-size: 16px;
    font-weight: 500;
}

ul li a:hover{
    color: royalblue;
}
button{
    background-color: royalblue;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #426be4;
}
.banner{
    background-image: url("assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.55);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
.overlay h1{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

.overlay em{
    font-style: italic;
}
.overlay p{
    width: 700px;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.overlay button{
    background-color: #2b56f1;
    color: white;
    border: none;
    padding: 18px 45px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.overlay button:hover{
    background-color: #1e40cb;
}
/* Meet the Speakers */

.speakers{
    padding: 80px;
    background-color: #ffffff;
}

.speakers h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.speaker-info{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}
.card-content h5{
    color: #1b379c;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card-content h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.card-content p{
    color: #945353;
    font-size: 16px;
    line-height: 1.6;
}

/* PRICE START  */

.pricing-section {
    padding: 100px 0;
    background: #ffffff;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

.pricing-subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 15px;
    font-size: 17px;
}

.pricing-section h2 {
    text-align: center;
    font-size: 48px;
    color: #111827;
    margin-bottom: 15px;
}

.section-description {
    text-align: center;
    color: #2b3241;
    max-width: 600px;
    margin: auto;
    margin-bottom: 60px;
    line-height: 1.6;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pricing-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    width: 340px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.pricing-card:hover {
    transform: translateY(-8px);
}

.plan {
    color: #8b8b8b;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.pricing-card h3 {
    font-size: 60px;
    margin: 15px 0 5px;
    color: #111827;
}

.price-text {
    color: #6b7280;
    margin-bottom: 25px;
}

.pricing-card hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin-bottom: 25px;
}

.pricing-card ul {
    list-style: disc;
    padding-left: 20px;
    flex: 1;
}

.pricing-card ul li {
    margin-bottom: 16px;
    color: #374151;
    line-height: 1.5;
}

.pricing-card button {
    margin-top: 30px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #2563eb;
    background: transparent;
    color: #2563eb;
    cursor: pointer;
    transition: .3s;
}

.pricing-card button:hover {
    background: #2563eb;
    color: white;
}

/*  Card */

.featured {
    background: #0f1d2d;
    color: white;
    transform: translateY(-15px);
}

.featured h3,
.featured .plan,
.featured ul li {
    color: white;
}

.featured .price-text {
    color: #cbd5e1;
}

.featured hr {
    border-top: 1px solid rgba(255,255,255,.2);
}

.featured button {
    background: #1a4ab2;
    color: white;
    border: none;
}

.featured button:hover {
    background: #1d4ed8;
}


@media (max-width: 992px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .featured {
        transform: none;
    }

    .pricing-card {
        width: 100%;
        max-width: 420px;
    }
}

.pricing-card ul{
    list-style: disc;
    padding-left: 22px;
    margin: 30px 0;
}

.pricing-card ul li{
    display: list-item;
    margin-bottom: 16px;
    line-height: 1.7;
    color: #374151;
}

.featured ul li{
    color: white;
}

.playground{
    padding: 100px 80px;
    background: #f8f6ff;
    text-align: center;
}

.playground h2{
    font-size: 48px;
    color: #5b21b6;
    margin-bottom: 20px;
}

.playground-description{
    max-width: 700px;
    margin: 0 auto 60px;
    color: #666;
    line-height: 1.8;
}

.playground-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.playground-card{
    background: #fff;
    padding: 35px 25px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.playground-card:hover{
    transform: translateY(-8px);
}

.icon{
    font-size: 50px;
    margin-bottom: 20px;
}

.playground-card h3{
    color: #5b21b6;
    margin-bottom: 15px;
    font-size: 24px;
}

.playground-card p{
    color: #666;
    line-height: 1.7;
}

@media (max-width:992px){

    .playground-container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width:768px){

    .playground{
        padding: 70px 20px;
    }

    .playground h2{
        font-size: 36px;
    }

    .playground-container{
        grid-template-columns: 1fr;
    }

}